/DiffEdit/Assembly-CSharp-firstpass.csproj
/DiffEdit/Assembly-CSharp-firstpass.pidb
/DiffEdit/Assembly-CSharp-firstpass-vs.csproj
/DiffEdit/Assembly-CSharp-vs.csproj
/DiffEdit/Assembly-UnityScript-firstpass.pidb
/DiffEdit/Assembly-UnityScript-firstpass.unityproj
/DiffEdit/Assembly-UnityScript-firstpass-vs.unityproj
/DiffEdit/DiffEdit.sln
/DiffEdit/DiffEdit.userprefs
/DiffEdit/DiffEdit-csharp.sln
/DiffEdit/Assembly-CSharp.csproj
/DiffEdit/Assembly-CSharp.pidb
/DiffEdit/Assembly-CSharp-Editor.csproj
/DiffEdit/Assembly-CSharp-Editor.pidb
/DiffEdit/Assembly-CSharp-Editor-vs.csproj

ScriptAssemblies

metadata

/DiffEdit/UnityVS.DiffEdit.CSharp.Plugins.csproj
/DiffEdit/UnityVS.DiffEdit.sln
/DiffEdit/UnityVS.DiffEdit.sln.DotSettings
/DiffEdit/UnityVS.DiffEdit.UnityScript.Plugins.unityproj
/DiffEdit/UnityVS.DiffEdit.CSharp.csproj
/DiffEdit/UnityVS.DiffEdit.CSharp.Editor.csproj
/DiffEdit/DiffEdit_Web

/DiffEdit/UnityVS.DiffEdit.UnityScript.unityproj

/DiffEdit/Assembly-UnityScript.unityproj
/DiffEdit/Assembly-CSharp-firstpass.pidb
/DiffEdit/Assembly-CSharp-firstpass-vs.csproj

/DiffEdit/Assembly-UnityScript-vs.unityproj

/DiffEdit/Assembly-UnityScript.pidb

/DiffEdit/DiffEdit_Data
/DiffEdit/DiffEdit.exe
/DiffEdit/obj
/DiffEdit/*.suo
/DiffEdit/Assets/Textures/BigGrid.png.meta
/DiffEdit/Assets/Textures/BigGrid.xcf
/DiffEdit/Assets/Textures/BigGrid.xcf.meta
/DiffEdit/Assets/Textures/BigGrid.png
/DiffEdit/TestGesture_Data
/DiffEdit/TestGesture.exe
/DiffEdit/UnityPlayer_Symbols.pdb
/DiffEdit/Temp
